body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-repeat: no-repeat; /* ou no-repeat, dependendo do efeito desejado */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    height: 250px;
}

#bgheader {
    background-image: url('logo.png'); /* Caminho para sua imagem */
    background-position: center center;
    background-size: cover;
    height: 250px;
    width: 100%;
    max-width: 1180px;
    opacity: 0.5;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

header h1{
    position: absolute;
    opacity: 1.0;
    margin: auto;
    width: 100%;
    height: 250px;
    text-align: center;
    color: white;
    vertical-align: middle;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    header,
    header h1,
    #bgheader {
        height: 100px;
    }
}

main {
    display: flex;
    flex-grow: 1;
}

main section h2 {
    color: yellow;
    vertical-align: middle; /* Alinha verticalmente com a imagem */
}

aside {
    background-color: #222;
    padding: 1em;
    width: 200px;
}

aside nav ul {
    list-style: none;
    padding: 0;
}

aside nav li {
    margin-bottom: 0.5em;
}

main aside nav a {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

section {
    padding: 1em;
    flex-grow: 1;
    /* Ajuste o tamanho e o padding da seção para que o logo seja centralizado e de tamanho adequado*/
    min-height: 300px; /* Altura mínima para a seção, ajuste conforme necessário */
    justify-content: center; /* Centraliza conteúdo dentro da seção */
    align-items: center; /* Centraliza conteúdo verticalmente na seção */
}

footer {
    background-color: #222;
    padding: 1em 0;
    text-align: center;
}

footer a {
    color: yellow; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
}

/* Estilo hover (opcional) */
footer a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    color: #FFD700; /* Cor do link ao passar o mouse (opcional) */
}

/* Responsividade básica */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    aside {
        width: 100%;
    }
}

aside nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: yellow;
}