body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    padding: 1em 0;
    display: flex; /* Necessário para flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

header img {
    max-width: 150px; /* Ajuste conforme necessário */
    max-height: 150px; /* Ajuste conforme necessário */
    margin-right: 1em; /* Espaço entre a imagem e o título */
    vertical-align: middle; /* Alinha verticalmente com o texto */
}

header h1 {
    color: yellow;
    vertical-align: middle; /* Alinha verticalmente com a imagem */
}

main {
    display: flex;
    flex-grow: 1;
}

aside {
    background-color: #333;
    padding: 1em;
    width: 200px;
}

aside nav ul {
    list-style: none;
    padding: 0;
}

aside nav li {
    margin-bottom: 0.5em;
}

aside nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 1em;
    flex-grow: 1;
}

footer {
    background-color: #333;
    padding: 1em 0;
    text-align: center;
}

/* Responsividade básica */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    aside {
        width: 100%;
    }
    header {
        flex-direction: column; /* Empilha a imagem e o título em telas menores */
        align-items: center;
    }
}